@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    color: azure;
}
.container{
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 1670px){
    .container{
        width: -webkit-fill-available;
    }
}
@media (max-width: 430px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ----------------------------------------
-----------Start Header--------------------
-------------------------------------------*/
.header{
    width: 100%;
    background-color:#222223;
    position: fixed;
    z-index: 999; 
    /* background-color:#1E1E1E; */
} 
.logo {
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
span {
    color: #ff0000;
    width: 100%;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .header img {
    margin: auto ; 
    width: 45px;
} */

.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color:azure ;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222223;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: azure;
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
} 
/* ----------------------------------------
-----------media Header--------------------
-------------------------------------------*/
@media (max-width: 430px){
    .logo {
        font-weight: 800;
        font-size: 1.3em;
    }
}
@media (max-width: 165px){
    .logo {
    display: none;
    }

}
/* .header {
    position: fixed;
    z-index: 999;
}
/* ----------------------------------------
-----------End Header--------------------
-------------------------------------------*/

/* ----------------------------------------
-----------Start home--------------------
-------------------------------------------*/
.home {
    background-color: #1E1E1E;
    height: 100vh;
}
.home .container { 
    position: relative;
    top: 33vh;
    height: 500px;
    display: flex;
    justify-content: space-between;
}  
.home-text{
    width: auto;
    padding: 1px;
}
h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: aqua;
}
h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
.btn {
    background-color: #ff0000;
    color: azure;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 1.1875em;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.5s ease;
    border: 2px solid transparent;
}
.btn:hover {
    background-color: transparent;
    border: 2px solid azure;
}
.btn:active {
    border: 2px solid #0577FB;
    color: #0577FB;
} 
.social {
    margin-top: 3.05rem;
}
.social a {
    color: azure;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.8s ease;
}
.social a :hover {
    color: white;
    transform: scale(1.2);
}
.social a :active {
    color: #0577FB;
    transform: scale(1.4);
}
.home .container img {
    width: 700px;
    height: 700px;
    position: relative;
    bottom: 135px;
    left: 40px;
    transform: translateX(-5%);
    transition: 1.5s;
}
.home .container img:hover {
    bottom: 185px;
}
@media (max-width: 1116px){
    .home .container img {
        width: 500px;
        height: 500px;
        bottom: 50px;
    }
    .home .container img:hover {
        bottom: 80px;
    }
    h4 {
        font-size: 1.0rem;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
    .btn {
        font-size: 1.0em;
    }
    .social a {
        padding-right: 20px;
        font-size: 1.5em;
    }
}
@media (max-width: 800px){
    .home .container {
        display: inline-grid;
        top: 10vh;
    }
    .home .container img {
        display: none;
        bottom: 0;
        width: 450px;
        height: 450px;
        left: 0;
    }
    .home .container img:hover {
        bottom: -100px;
    }
    .width-text {
        width: auto;
    }
    
}
@media (max-width: 505px){
    h1 {
        font-size: 2rem;
    }
    .btn {
        font-size: 0.9em;
    }
    .social a {
        font-size: 1.5em;
    }
    .home .container img {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 243px){
    .home {
        width: 50vh;
    }
}

/* ----------------------------------------
-----------End home--------------------
-------------------------------------------*/


/* ----------------------------------------
-----------Start about--------------------
-------------------------------------------*/
.about .container img{
    position: relative;
    left: -50px;
    width:600px;
    transition: 0.8s ease;
}
.about .container img:hover{
    transform: scale(1.1);
}
.about{
    background-color: #1A2234;
}
.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .container .about-text{
    width: 40%;
}
.about .container .about-text h3 {
    margin-bottom: 1.5rem;
}
.about .container .about-text p {
    color: aqua;
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
} 
@media (max-width: 1116px){
    .about .container img {
        width: 500px;
        height: 500px;
    }
}
@media (max-width: 800px){
    .about .container img {
        display: none;
    }
    .about .container .about-text{
        text-align: center;
        width:100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 243px){
    .about {
        width: 50vh;
    }
}
/* ----------------------------------------
-----------End about--------------------
-------------------------------------------*/


/* ----------------------------------------
-----------Start services--------------------------
-------------------------------------------*/
.services {
    background-color: #1E1E1E;
    display: flex;
}
.services .container{
    justify-content: center;
}

.services .container .services-text {
    text-align: center;
}

.services .container .services-box {
    display: flex;
    justify-content: space-around;
}

.services .container .services-box .card {
    width: 300px;
    background-color: #1A2234;

    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.services .container .services-box .card i {
    font-size: 3.12rem;
    text-align: center;
    color: #ff0000;
    margin: 2rem;
} 
.services .container .services-box .card h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
@media (max-width: 1370px){
    .services .container .services-box{
        flex-wrap: wrap;
    }
}
@media (max-width: 243px){
    .services {
        width: 50vh;
    }
}

/* ----------------------------------------
-----------Start skills-------------------------
-------------------------------------------*/

.skills{
    background-color: #1A2234;
    display: flex;
}
.skills .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.skills .container .skills-text img{
    width:400px;
    transition: 0.8s ease;
}
.skills .container .skills-text img:active {
    transform: scale(1.2);

}
.skills .container .skills-imgss img {
    position: relative;
    left: 30px;
    width: 600px;
    transition: 0.8s ease;
}
.skills .container .skills-imgss img:hover {
    left: 1px;
}
@media (max-width: 1116px){
    .skills .container .skills-text img{
        width:300px;
    }
    .skills .container .skills-imgss img {
        
        width: 400px;
    }
}
@media (max-width: 800px){
    .skills .container .skills-imgss img {
        display: none;
    }
    .skills .container .skills-text  {
        width: 100%;
    }

}
@media (max-width: 505px){
    .skills .container .skills-text img {
        width: 180px;
    }
}
@media (max-width: 243px){
    .skills {
        width: 50vh;
    }
}
/* ----------------------------------------
------------End skills-------------------------
-------------------------------------------*/

/* ----------------------------------------
-----------Start footer-------------------------
--------------------------------------------*/
.footer{
    background-color: #1E1E1E;
    display: flex;
}
.footer .container{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.footer .container .footer-text h2{
    font-size:large;
}
.footer .container .footer-text .social-footer {
    margin-top: 0.5rem;
}
.footer .container .footer-text .social-footer a {
    color: azure;
    font-size: 1.5em;
    padding-right: 10px;
    transition: 0.8s ease;
}
.footer .container .footer-text .social-footer a :hover{
    color: white;
    transform: scale(1.2);
}
.footer .container .footer-text .social-footer a :active{
    color: #0577FB;
    transform: scale(1.3);
}
.Right{
    background-color: #1A2249;
}
.Right {
    padding: 20px 10px;
    text-align: center;
    font-size: 18px;
}
.Right span {
    font-weight: bold;
}
@media (max-width: 243px){
    .footer {
        width: 50vh;
    }
    .Right {
        width: 50vh;
    }
}
/* ----------------------------------------
-----------Evd footer-------------------------
--------------------------------------------*/
::-webkit-scrollbar {
    background-color: #323233;
    width: 8px;
}

::-webkit-scrollbar-corner {
    background-color: #585858;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa93;

}

::-webkit-scrollbar-thumb:active {
    background: #AAAAAA;

} 

